<h2> GAMES#INDEX </h2>

<table id="games_table">
  <tr>
    <th> Date </th>
    <th> Time </th>
    <th> Location Name </th>
    <th> Spots Remaining </th>
    <th>  </th>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td> <%= "#{game.to_date_time.day}/#{game.to_date_time.month}" %> </td>
    <td> <%= "#{game.to_date_time.hour}:#{game.to_date_time.min}" %> </td>
    <td> <%= "#{game.location_name}" %> </td>
    <td> <%= "#{game.num_players - game.players.count}" %> </td>
    <td>
      <% if !game.has_player(current_user.player) %>
        <%= button_to 'Join Game', url_for(controller: :players, action: :join_game, id: current_user.player.id, game_id: game.id) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</br>
<%= link_to 'Back', root_url, class: 'button' %>