<h2> GAMES#SHOW </h2>

<table>
  <tr>
    <td> Sport: </td>
    <td> <%= "#{@game.sport}" %> </td>
  </tr>
  <tr>
    <td> Location Name: </td>
    <td> <%= "#{@game.location_name}" %> </td>
  </tr>
  <tr>
    <td> When: </td>
    <td> <%= "#{@game.to_date_time}" %> </td>
  </tr>
  <tr>
    <td> Players: </td>
    <% @game.players.each do |player| %>
      <td> <%= "#{player.name}" %> </td>
    <% end %>
  </tr>
  <tr>
    <td> Max Game Size: </td>
    <td> <%= "#{@game.num_players}" %> </td>
  </tr>
  <tr>
    <% if !@game.is_full? %>
      <td> <%= "INVITE FRIENDS SECTION HERE" %> </td>
    <% end %>
  </tr>
</table>

</br>
<%= link_to 'OK', root_url, class: 'button' %>

