<h2> PLAYERS#EDIT </h2>

<%= simple_form_for @player do |f| %>
  <%= f.input :name %>
  <%= f.input :skill, collection: ["rookie", "intermediate", "expert"] %>
  <%= f.button :submit %>
<% end %>

</br>
<%= link_to 'Back', url_for(action: :show, id: @player.id), class: 'button' %>

