<h2> PLAYERS#MANAGE_GAMES </h2>


</br>
<table>
  <tr>
    <th> Participating In </th>
    <th> </th>
    <th> Admin Of </th>
    <th> </th>
  </tr>

  <% @player.games.each do |game| %>
  <tr>
    <td> <%= "#{game.location}" %> </td>
    <td>
      <%= button_to 'Leave Game', url_for(action: :leave_game, id: @player.id, game_id: game.id) %>
    </td>

    <% if(game.admin_id == @player.id) %>
      <td> <%= "#{game.location}" %> </td>
      <td>
        <%= link_to 'Edit Game', url_for(action: :edit, controller: :games, id: game.id), 'data-no-turbolink' => true %>
      </td>
    <% end %>
  </tr>
  <% end %>

</table>
</br>


<%= link_to 'Back', url_for(action: :show, id: @player.id), class: 'button' %>
