<h2> PLAYERS#SHOW </h2>

<table id="profile_table">
  <tr>
    <td> Name: </td>
    <td> <%= "#{@player.name}" %> </td>
  </tr>
  <tr>
    <td> Skill: </td>
    <td> <%= "#{@player.skill || 'Not set'} " %> </td>
  </tr>
  <tr>
    <td> </td>
    <td> 
      <%= link_to "Edit Profile", edit_player_path(id: @player.id) %>
    </td>
  </tr>
  <tr>
  <tr> 
    <td> </td>
    <td> <%= link_to "My Games", url_for(action: :manage_games, id: @player.id) %> </td>
  </tr>
    <td> </td>
    <td>
      <%= link_to "Disconnect Facebook Account", signout_path, id: "sign_out" %>
    </td>
  </tr>
</table>

</br>
<%= link_to 'Back', root_url, class: 'button' %>

